.app-bg {
  background: linear-gradient(0deg, rgba(0,0,0, 0.2),rgba(0,0,0, 0.3)), url(./bg.jpg);
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.sfondo {
  position: absolute;
  background: linear-gradient(0deg, rgba(0,0,0, 0.2),rgba(0,0,0, 0.3)), url(./bg.jpg);
  overflow:hidden;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.side-bg {
  width: 30rem;
  height: 41rem;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
	border-radius: 5px;
	background-color: rgba(255, 255, 255, .15);
	backdrop-filter: blur(5px);
}